html,body{
	width: 100%;
	height: 100%;
	/*background-color: #888;*/												
}

*{
	padding: 0;
	border: 0;
	margin: 0;
	list-style: none;
	font-family: 'Calibri';
}

.adoptform{
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 50;
	width: 70%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}

.cancelbtn{
	position: absolute;
	right:13%;
	top: 3%;
	width: 30px;
	height: 30px;
	/*border: 1px solid #000;*/
}
.cancelbtn div{
	position: absolute;
	width: 100%;
	height: 5px;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	background-color: #ddd;
	border-radius: 20%;
	transition: 0.5s;
}
.cancelbtn:hover div{
	background-color: #000;
}
.arrowleft{
	transform: rotateZ(45deg);
}
.arrowright{
	transform: rotateZ(-45deg);	
}



.adoptformblock{
	position: absolute;
	width: 85%;
	height: 75%;
	top: 8%;
	/*left: 0;*/
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 2% 2%;
	/*border: 3px solid #00f;*/
	overflow-y:scroll;
	/*overflow-x: hidden;*/
	box-shadow: 0px 0px 3px #333;
	background-color: #fff;
	font-size: 14px;
	border-radius: 5px 0 0 5px;
}
textarea{
	width: 80%;
	background-color: rgba(100,100,100,0.1);
	transition: 0.5s;
	border: 0px;
}
textarea:focus{
	border: 1px solid #fff;
	border-radius: 3px;
}

.rsbtn{
	width: 40%;
	padding: 2% 0;
	background-color: rgba(255,200,100,0.9);
	color:#FFF;
	border: 1px solid #fff;
	bottom: 0;
}
.rsbtn:hover{
	background-color: rgba(0,0,0,0.5);
	color:#fa1;
	transition: background-color 0.5s;

}



.adoptall{
	position: absolute;
	width: 100%;
	height: 100%;
	/*border: 5px solid #f00;*/
}


.adoptleft{
	position: fixed;
	width: 30%;
	height: 100%;
	top: 0;
	left: 0;
	margin: auto;
	/*border: 2px solid #0ff;*/
	/*background-color: #ccc;*/

}


.adoptblockstyle{
	width: 85%;
	height: 75%;
	border: 1px solid #aaa;
	/*background-color: #f2f2f2;*/
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
	bottom: 15%;
	margin: auto;
}

.adoptblockup{
	position: relative;
	width: 100%;
	height: 90%;
	/*border: 3px solid #aaf;*/
}

.adopttitle{
	width: 100%;
	/*height: 15%;*/
	/*border: 2px solid #fac386;*/
	background-color:#ac3; 
}

.adopttitle p{
	font-size: 24px;
	text-align: center;
	padding: 10px 0px;
}

.adopttext{
	/*position: absolute;*/
	width: 100%;
	height: 80%;
	left: 0;
	right: 0;
	bottom: 5%;
	margin: auto;
	/*border: 2px solid #a5ff3b;*/
	overflow-y: scroll;
	padding: 5% 0;
}

.adopttext p{
	padding: 0 10px;
	font-size: 18px;
	color: #333;
}


.adoptblockdown{
	position: absolute;
	width: 100%;
	height: 10%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	/*border: 3px solid #33f;*/
}

.adoptblockdown a:before{
	content: '';
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}

.adoptblockdown a{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	font-size: 18px;
	color: #eee;
	text-align: center;
	/*border: 2px solid #9e5;*/
	text-decoration: none;
	background-color: #333;
	padding: 10px 20px;
	transition: 0.8s;
}

.adoptblockdown a:hover{
	background-color: #ddd;
	color: #333;
	
}



.adoptright{
	position: absolute;
	width: 70%;
	/*height: 100%;*/
	top: 0;
	right: 0;
	margin: auto;
	border: 2px solid #ccc;
	background-color: #888;

}

.adoptphotoblockall{
	position: relative;
	width: 90%;
	padding: 10% 5%;
	/*height: 100%;*/
	/*border: 3px solid #f0f;*/
	/*display: inline-block;*/
	/*float: left;*/

}

.adoptphotoblock{
	position: relative;
	width: 250px;
	height: 500px;
	border: 2px solid #f00;
	border-radius: 5px;
	background-color: #fcfcfc;
	box-shadow: 0px 0px 5px #333;
	display: inline-block;
	overflow: hidden;
	margin: 1%;
	text-align: center;
}



.adoptphoto{
	position: relative;
	width: 100%;
	/*height: 50%;*/
	/*border-bottom: 1px solid #ccc;*/
	border: 2px solid #0f0;
	overflow: hidden;
	text-align: center;
}

.adoptphoto img:before{
	content: '';
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}

.adoptphoto img{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 100%;打開則圖片全部顯示，關閉則顯示圖片一部分
}



.adoptphototext{
	position: relative;
	width: 100%;
	height: 50vh;
	border: 3px solid #6ac;
	/*overflow-y: scroll;*/
}
.adoptphototext p{
	color: #555;
	font-size: 18px;
}


::-webkit-scrollbar {
      width: 10px;

}
::-webkit-scrollbar-track {
      /*background-color: #fff;*/
      /*border-radius: 20px;*/
}
::-webkit-scrollbar-thumb {
      background-color: #e0e0e0;
      border-radius: 5px;
      box-shadow: 1px 1px 2px #999;
}
::-webkit-scrollbar-button {
      background-color: #fff;
      width: 0;
      height: 0;
}
::-webkit-scrollbar-corner {
      background-color: #fff;
      width: 0;
      height: 0;
}